.form__card__billing{
    border: 1px solid red;
    width: 400px;
    margin : 0 auto;
    text-align: left;
    padding: 10px;
    > div {
        margin : 10px;
    }
    label {
        margin-right: 15px;
    }
    &:before {
        content : "Card Payment ";
        font-weight: bold;
        border-bottom: 1px solid green;
    }
}